.review {
  //border: solid 1px;
  border-radius: 2rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  h4 {
    color: #333;
    margin-left: 0rem;
    margin-right: 0rem;
    font-weight: normal;
  }
  .username {
    display: inline;
    text-decoration: underline;
    font-weight: bold;
  }
  .comment {
    margin: 2rem;
    text-align: start;
    h3 {
      padding: 0rem;
      margin: 0rem;
    }
  }
}
