.form {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 25rem;
  background: white;
  border-radius: 1rem;
  padding: 4rem;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);

  h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    //font-size: 25px;
    color: #333;
  }

  button {
    width: 100%;
    height: 3.2rem;
    color: #e9f4fb;
    border: 1px solid;
    border-radius: 2rem;
    padding-left: 0;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    outline: none;
    background: rgb(38, 145, 217);
    transition: all 0.3s ease;
    &:hover {
      border-color: white;
      background: white;
      color: #2691d9;
      box-shadow: 0px 5px 20px rgba(38, 145, 217, 0.7);
      transition: 0.5s;
    }
    &:active {
      transform: scale(0.95);
      transition: 0.1s;
    }
  }
}
.textfield {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 3rem 0;
  input {
    width: 100%;
    padding: 0 5px;
    height: 2.5rem;
    font-size: 1rem;
    border: none;
    background: none;
    outline: none;
  }
  label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    transition: 0.5s;
  }
  span::before {
    content: "";
    position: absolute;
    top: 2.5rem;
    left: 0;
    width: 0;
    height: 2px;
    background: #2691d9;
    transition: 0.5s;
  }
}

.form {
  .textfield {
    input {
      &:focus {
        ~ {
          label {
            top: -5px;
            color: #2691d9;
          }

          span::before {
            width: 100%;
          }
        }
      }
      &:valid {
        ~ {
          label {
            top: -5px;
            color: #2691d9;
          }

          span::before {
            width: 100%;
          }
        }
      }
    }
  }
}
